body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-div {
  width: 1000px;
  height: 600px;
  background-color: lightgray;
  border-radius: 10px;
}
.title-container {
  text-align: center;
  width: 100%;
  height: 40px;
  margin-top: 45px;
}
.main-title {
  color: #ffa900;
  font-size: 28pt;
  font-weight: bold;
}
.menu {
  float: left;
  width: 400px;
  height: 170px;
  margin-left: 55px;
  background-color: white;
}
.image {
  float: left;
  width: 60%;
  height: 170px;
  margin-left: 10px;
  margin-top: 10px;
}
.description {
  float: left;
  width: 35%;
  padding-left: 1%;
  padding-top: 10px;
  font-family: Verdana;
  font-size: 12pt;
  font-weight: bold;
}
ul {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-top: 5px;
}
li {
  font-size: 9pt;
  font-weight: normal;
  margin-left: 0px;
}
.price {
  display: flex;
  margin-top: 15px;
  font-size: 18pt;
  font-weight: bold;
  color: red;
  margin-left: 10px;
}
.menu {
  position: relative;
  z-index: 0;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.menu:hover {
  transform: translateY(-5px);
}

.title-container {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.styled-button {
  background-color: #ffa900;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
}

.update-form,
.add-form {
  position: absolute;
  z-index: 1;
  background-color: rgb(226, 230, 165);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.add-form {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.update-form {
  left: 0;
  top: 0;
}

.footer {
  background-color: lightgray;
  color: black;
  padding: 15px;
  width: 100%;
  height: 1%;
  top: 0;
  position: fixed;
  border-radius: 30px;
  text-align: center;
}
